/*
*  Use masthead image as ultimate fallback/initial bg,
*  for scenarios where video isn't loading in supported browsers
*/
body {font-family: $base-font; background: $sand url($img-path + 'header-bg.gif') no-repeat center top;}
 
#big-video-wrap{overflow:hidden;position:fixed;height:100%;width:100%;top:0;left:0;z-index: -1;}
#big-video-vid,#big-video-image{position:absolute;}

.container {
  @extend .clearfix;
  @include box-sizing(border-box);

  max-width: 1000px;
  margin: 0 auto;
  position: relative;

  @media (max-width: $screen-small-max) {padding: 40px 20px !important; width: 100%;}
}

.container-copy {padding: 60px 0; font-size: 18px;}

.col-1, .col-2 {
  @media (min-width: $screen-medium) {
    float: left;
    width: 45%;
    margin: 0 5% 0 0;
  }
}

nav {
  & {
    position: relative;
    z-index: 9999;
    margin: -64px 0 0;
    padding: 0;
    background: $textcolor;
    background: rgba($textcolor, .1);
    color: $white;
    text-align: center;
    border-bottom: 1px solid $white;
  }
  
  a {
    display: inline-block;
    padding: 30px 10px;
    color: #fff;
    text-decoration: none;
    font: bold 14px $base-font;
    opacity: .5;
    letter-spacing: .05em;
    text-transform: uppercase;

    @include box-sizing(border-box);
    @include transition(opacity .15s);
    
    &:hover, &:focus {opacity: 1;}
    &:active {position: relative; top: 1px; left: 1px;}

    .frontpage &[href="/"], .event-1 &[href="/1"] {
      opacity: 1;
    }
  }
}

.content {
  @extend .clearfix;

  background: $white;
  line-height: 28px;

  @media (min-width: $screen-medium) {
    .container-copy {padding: 100px 0;}
    .col-1, .col-2 {margin-top: 30px; text-align: justify;}
    .col-2 {margin-right: 0; margin-left: 5%;}
  }

  .newsletter-callout {
    margin: 0 auto;
    padding-bottom: 60px;
  }
}

.contact {background: $red-bg;}
  