/*
*  Use masthead image as ultimate fallback/initial bg,
*  for scenarios where video isn't loading in supported browsers
*/
body {font-family: $base-font; background: $sand url($img-path + 'header-bg.gif') no-repeat center top;}
 
#big-video-wrap{overflow:hidden;position:fixed;height:100%;width:100%;top:0;left:0;z-index: -1;}
#big-video-vid,#big-video-image{position:absolute;}

.container {
  @extend .clearfix;
  @include box-sizing(border-box);

  max-width: 1000px;
  margin: 0 auto;
  position: relative;

  @media (max-width: $screen-small-max) {padding: 40px 20px !important; width: 100%;}
}

.container-copy {padding: 60px 0; font-size: 18px;}

.col-1, .col-2 {
  @media (min-width: $screen-medium) {
    float: left;
    width: 45%;
    margin: 0 5% 0 0;
  }
}

.content {
  @extend .clearfix;

  background: $white;
  line-height: 28px;

  @media (min-width: $screen-medium) {
    .container-copy {padding: 100px 0;}
  }
}

.contact {background: $red-bg;}
  