.content {
  h2 {
    float: left;
    width: 100%;
    margin: 60px 0 20px;

    @media (max-width: $screen-desktop) {text-align: center;}
  }
}

.initiator {
  & {
    @extend .clearfix;
    @include box-sizing(border-box);

    font-size: 14px;
    line-height: 1.5em;
  }

  a {
    & {color: $green; text-decoration: none;}
    &:hover, &:focus {text-decoration: underline;}    
    &:before {content: ""; display: block;}
  }

  strong {display: block; font-size: 16px; font-style: italic;}

  @media (max-width: $screen-desktop) {
    & {text-align: center; margin: 0 0 20px;}
    img {display: block; margin: 0 auto 10px;}
  }
  
  @media (min-width: $screen-desktop) {
    & {
      height: 160px;
      margin: 0 0 40px;
      padding: 40px 0 0 180px;
    }
    img {float: left; margin: -40px 0 0 -180px;}
  }
}