.contact {
  & {text-align: center;}
  h4 {color: $blue-heading;} 
  p {line-height: 28px; color: $blue-heading;}
  a {color: $white; text-decoration: none; font-weight: 500;}
  a:hover, a:focus {text-decoration: underline;}
}

.boilerplate {
  & {
    margin: 60px 0;
    position: relative;
    text-align: center;
    
    @media (max-width: $screen-small) {margin: 60px 0;}
  }
}