.masthead {
  & {color: $white; font: 300 22px $base-font;}

  /* Fallback image banner when video isn't supported */
  .touch &, .no-js & {
    background: $green-dark url($img-path + 'header-bg.jpg') no-repeat center top;
    background-size: cover;
  }

  p {margin: 40px 0;}

  .lead {
    & {margin: 0;}

    @media (max-width: $screen-small) {font-size: 24px;}
    @media (min-width: $screen-medium) {margin-right: 20px;}
  }
}

.masthead .container {
  @media (max-width: $screen-small-max) {
    padding-bottom: 60px;
  }

  @media (min-width: $screen-medium) {
    padding-top: 155px;
    padding-bottom: 175px;
    padding-left: 230px;
  }
}

.logo {
  $width: 183px;
  $height: 307px;

  & {
    margin: 0;
    line-height: 1;
    width: $width;
    height: $height;    
  }

  > a {
    @include retina('logo', $width, $height);
    color: #fff;

    /* Image replacement */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    display: block;
    width: $width;
    height: $height;
    color: $white;
  }

  @media (max-width: $screen-small-max) {
    $width: 40px;
    $height: 68px;

    & {margin: 0 auto 30px;}
    &, > a {
      width: $width;
      height: $height;
    }
    
    > a {@include retina('logo-small', $width, $height);}
  }

  @media (min-width: $screen-small-max) {
    position: absolute;
    left: 0;
    top: 230px;
  }
}

.signup {
  & {
    @extend .clearfix;
    position: relative;
  }

  input, button {
    @include transition(all .2s ease-in-out);
    @include box-sizing(border-box);

    border-radius: 50px;
    border: 3px solid $white;
    font: italic bold 20px/1 $base-font;
  }

  input {
    width: 100%;
    padding: 15px 20px;
    background: transparent;
    color: inherit;
    outline: 0;

    @include placeholder {
      color: rgba($white, .5);
      line-height: 1.25;
      text-transform: uppercase;
    }

    @media (max-width: $screen-small-max) {margin-bottom: 20px;}
    @media (min-width: $screen-medium) {
      &[type="email"] {padding-right: 100px;}
    }
  }

  button {
    & {
      @include button;
      background: $white;
      color: #004835;
    }

    &:hover, &:active, &:focus {background: transparent; color: $white;}

    @media (max-width: $screen-small-max) {width: 100%;}
    @media (min-width: $screen-medium) {position: absolute; right: 20px;}
  }
}

#error-response {
  color: #e00;
  font-weight: bold;
}