*:not(form):not(:input) {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h2, h3, h4 {
  margin: 0 0 30px;
  font-size: 36px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: -.05em;
  text-align: center;
}

.lead {
  & {font-size: 35px; font-weight: 300;}
  strong {font-weight: 500;}

  @media (max-width: $screen-small) { & {font-size: 24px;}}
}