$img-path: '../img/';

$white: #faf9f2;

$green: #12ac85;
$green-dark: #136b54;
$green-neon: #1bffc5;

$sand: #eeecde;

$red-callout: #ff5656;
$red-bg: #c73932;
$red-heading: #ff9590;

$blue-callout: #2069dd;
$blue-bg: #5e9cff;
$blue-heading: #d6e6ff;

$gray: #9d9d99;
$gray-dark: #404040;
$gray-darker: #373737;

$black: #252525;

$textcolor: $gray-dark;


// Media queries breakpoints
// --------------------------------------------------

// Tiny screen / phone
$screen-tiny:                480px;
$screen-small:               768px;
$screen-medium:              992px;
$screen-small-max:           ($screen-medium - 1);
$screen-large:               1200px;

$sans-serif-font: Helvetica, Arial, sans-serif;
$base-font: 'Helvetica Neue', $sans-serif-font;