$img-path: '../img/';

$white: #faf9f2;
$green: #12ac85;
$green-dark: #136b54;
$green-neon: #1bffc5;
$textcolor: #404040;
$sand: #eeecde;
$red-callout: #ff5656;
$gray: #9d9d99;

// Media queries breakpoints
// --------------------------------------------------

// Tiny screen / phone
$screen-tiny:                480px;
$screen-small:               768px;
$screen-medium:              992px;
$screen-small-max:           ($screen-medium - 1);
$screen-large:               1200px;

$sans-serif-font: Helvetica, Arial, sans-serif;
$base-font: 'Helvetica Neue', $sans-serif-font;