.venue {
  & {
    @extend .clearfix;
    text-align: center;
    background: $sand url($img-path + 'venue-bg.gif') no-repeat center top;
  }
  
  h2 {
    margin: 140px 0 0;
    font-size: 108px;
    line-height: 1;

    @media (max-width: $screen-small-max) {font-size: 36px;}
  }
}

.details {
  & {
    @extend .clearfix;
    margin: 0;
    background: $textcolor;
    color: $white;

    @media (min-width: $screen-medium) {
      background: $textcolor url($img-path + 'event-details-map-bg.gif') no-repeat center top;
    }
  }

  p {
    @include box-sizing(border-box);
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    strong {display: block; font-size: 24px; font-style: italic; font-weight: bold;}
  }

  .lead {color: $gray;}

  @media (max-width: $screen-medium - 1) {
    aside {
      margin-top: 30px;
    }
    p:first-child {margin-top: 0;}
    .lead {margin-bottom: 0; text-align: center;
    }
    .button {
      display: block;
      margin-bottom: 4px;
    }
  }

  @media (min-width: $screen-medium) {
    .column {float: left; display: inline; margin: 4.5%;}  
    aside {float: left; width: 100%;}
    .lead {text-align: center;}
    .button {margin-right: .5em;}
  }
}